<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<body>
<th:block th:fragment="head(pageTitle)">
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title th:text="${pageTitle} + ' | UC Info Admin'">UC Info Admin</title>

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
            href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;500;600;700;800;900&display=swap"
            rel="stylesheet"
    />

    <link rel="stylesheet" th:href="@{/css/common/reset.css}" />
    <link rel="stylesheet" th:href="@{/css/common/components.css}" />
    <link rel="stylesheet" th:href="@{/css/common/layout.css}" />
    <link rel="stylesheet" th:href="@{/css/common/sidebar.css}" />
    <link rel="stylesheet" th:href="@{/css/common/header.css}" />
    <link rel="stylesheet" th:href="@{/css/common/table.css}" />
    <link rel="stylesheet" th:href="@{/css/common/modal.css}" />
</th:block>
</body>
</html>